In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random as rd
from pandas import DataFrame
import seaborn as sns
from matplotlib.pyplot import figure

In [18]:
df = pd.read_csv("C:/Users/heera/Desktop/GLabs_DSMP_New-masters/Train.csv")
test_data=pd.read_csv("C:/Users/heera/Desktop/GLabs_DSMP_New-masters/Test.csv")
path="C:/Users/heera/Desktop/GLabs_DSMP_New-masters/Test.csv"
df.head()
test_data.head(2)

,ID,account_type,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,...,credit_count_may,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active
0,17591,current,M,37,575,2795.45,1290.0,6141.05,676.50,9146.1,...,24.0,20.0,9750.0,30527.88,31271.0,3.0,12.0,25945.92,Y,1170.49
1,13541,current,M,33,394,29405.13,1640.0,1670.00,2463.92,10947.5,...,43.0,40.0,16967.0,14342.83,16582.0,6.0,39.0,12214.00,Y,16447.45

In [19]:
df.describe()
df.info()
df['investment_4'] = df['investment_4'].abs()
df.drop(["personal_loan_active","vehicle_loan_active","personal_loan_closed","vehicle_loan_closed","loan_enq"],axis=1,inplace=True)
test_data['investment_4'] = test_data['investment_4'].abs()
test_data.drop(["personal_loan_active","vehicle_loan_active","personal_loan_closed","vehicle_loan_closed","loan_enq"],axis=1,inplace=True)
df.corrwith(df['cc_cons'],axis=0).sort_values(ascending=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 44 columns):
ID                       15000 non-null int64
account_type             15000 non-null object
gender                   15000 non-null object
age                      15000 non-null int64
region_code              15000 non-null int64
cc_cons_apr              15000 non-null float64
dc_cons_apr              15000 non-null float64
cc_cons_may              15000 non-null float64
dc_cons_may              15000 non-null float64
cc_cons_jun              15000 non-null float64
dc_cons_jun              15000 non-null float64
cc_count_apr             15000 non-null float64
cc_count_may             15000 non-null float64
cc_count_jun             15000 non-null float64
dc_count_apr             15000 non-null float64
dc_count_may             15000 non-null float64
dc_count_jun             15000 non-null float64
card_lim                 15000 non-null float64
personal_loan_active     15000 non-null float64
vehicle_loan_active      15000 non-null float64
personal_loan_closed     15000 non-null float64
vehicle_loan_closed      15000 non-null float64
investment_1             15000 non-null float64
investment_2             15000 non-null float64
investment_3             15000 non-null float64
investment_4             15000 non-null float64
debit_amount_apr         15000 non-null float64
credit_amount_apr        15000 non-null float64
debit_count_apr          15000 non-null float64
credit_count_apr         15000 non-null float64
max_credit_amount_apr    15000 non-null float64
debit_amount_may         15000 non-null float64
credit_amount_may        15000 non-null float64
credit_count_may         15000 non-null float64
debit_count_may          15000 non-null float64
max_credit_amount_may    15000 non-null float64
debit_amount_jun         15000 non-null float64
credit_amount_jun        15000 non-null float64
credit_count_jun         15000 non-null float64
debit_count_jun          15000 non-null float64
max_credit_amount_jun    15000 non-null float64
loan_enq                 15000 non-null object
emi_active               15000 non-null float64
cc_cons                  15000 non-null float64
dtypes: float64(38), int64(3), object(3)
memory usage: 5.0+ MB

region_code             -0.018824
credit_amount_jun       -0.013026
investment_3            -0.011453
cc_count_apr            -0.009760
age                     -0.006965
dc_count_jun            -0.006193
debit_amount_jun        -0.005573
debit_count_jun         -0.005336
emi_active              -0.004143
max_credit_amount_apr   -0.003502
card_lim                -0.003155
credit_count_apr        -0.002170
credit_amount_may       -0.002064
cc_count_jun            -0.002005
debit_count_apr         -0.001350
cc_cons_jun             -0.000900
dc_count_apr            -0.000758
dc_cons_may             -0.000642
debit_amount_may        -0.000577
debit_count_may         -0.000374
dc_cons_apr             -0.000126
dc_cons_jun              0.002863
debit_amount_apr         0.003937
investment_1             0.004086
ID                       0.004666
credit_count_jun         0.005108
credit_amount_apr        0.005293
cc_cons_apr              0.006155
dc_count_may             0.007711
max_credit_amount_jun    0.007843
max_credit_amount_may    0.008531
investment_2             0.008877
investment_4             0.009888
credit_count_may         0.013488
cc_count_may             0.016433
cc_cons_may              0.021822
cc_cons                  1.000000
dtype: float64

In [20]:
q1 = df.quantile(0.05)  # 0.25
q3 = df.quantile(0.95)  # 0.75
iqr = q3 - q1
df = df[~((df < (q1 - 1.5 * iqr)) | (df > (q3 + 1.5 * iqr))).any(axis=1)]
df.head(5)

,ID,account_type,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,...,credit_count_may,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,emi_active,cc_cons
0,12554,current,M,35,708,24893.00,378.00,10288.00,29664.00,16291.40,...,2.0,40.0,24563.0,30051.32,12761.0,2.0,65.0,50836.0,1674.09,20014.0
1,17645,current,M,35,123,18941.62,966.00,20672.00,287.00,4217.00,...,2.0,78.0,23948.0,42119.05,76206.0,21.0,63.0,23226.0,13043.34,10173.0
2,7604,current,M,55,802,5678.87,2724.00,1964.50,3933.11,23956.25,...,2.0,82.0,10752.0,58373.25,75283.0,7.0,1.0,27036.0,25375.27,16095.0
3,1590,current,F,29,867,30489.50,1236.00,12609.88,9138.14,17521.00,...,23.0,38.0,12607.0,69851.51,68708.0,21.0,83.0,43037.0,3544.33,7707.0
4,16556,current,M,34,802,7441.40,6906.04,4364.00,1939.00,2121.00,...,24.0,50.0,25213.0,10071.00,80140.0,8.0,32.0,32044.0,12780.44,96408.0

In [21]:
#which region code has highest Amount Spent using credit card but least number of transactions
df['credit spent amount']=df['cc_cons_apr']+df['cc_cons_may']+df['cc_cons_jun']
df['Debit spent amount']=df['dc_cons_apr']+df['dc_cons_may']+df['dc_cons_jun']
df['Credit Transaction Count']=df['cc_count_apr']+df['cc_count_may']+df['cc_count_jun']
df['Debit Transaction Count']=df['dc_count_apr']+df['dc_count_may']+df['dc_count_jun']
df.columns
df.groupby(['credit spent amount','region_code','Credit Transaction Count'])['credit spent amount'].count().sort_values(ascending=False)
# df['credit spent amount'].max()
df['Credit Transaction Count'].min()
#df['credit spent amount'].min()
df.groupby(['credit spent amount','region_code','Credit Transaction Count'])['credit spent amount'].count().sort_values(ascending=True)
df.groupby(['Credit Transaction Count','region_code','credit spent amount'])['Credit Transaction Count'].count().sort_values(ascending=True)

df.groupby(['Credit Transaction Count','region_code','credit spent amount'])['Credit Transaction Count'].count().sort_values(ascending=False)

#Conclusions
#Region Code 424 has maximum amount of transaction of 1161694.11 with number of Transcations using Credit card as 95( Avg ~ 12228) 
#Region Code 424 has minimum amount of transaction of 1544.870 with number of Transcations using Credit card as 192( Avg ~ 8)
#Region Code 505 has minimum number of transactions using credit which is 3 and the amount spent is 101083.040( Avg ~ 33694)
#Region Code 713 has maximum number of transactions using credit card which is 1220 and the amount spent is 66735.170( Avg ~ 55)

#Hence we can Conclude Region code 505 is richest and Region code 424 is poor

Credit Transaction Count  region_code  credit spent amount
341.0                     708          35619.030              1
65.0                      966          26686.320              1
66.0                      464          30023.000              1
                          448          38014.505              1
                                       26659.720              1
                                                             ..
112.0                     274          8652.820               1
                          270          19035.165              1
                          269          85452.750              1
                                       57586.770              1
3.0                       505          101083.040             1
Name: Credit Transaction Count, Length: 11455, dtype: int64

In [22]:
#Dropping Rows with Age above 120
df.drop(df[df['age'] > 120].index, inplace = True)
#test_data.drop(test_data[test_data['age'] > 120].index, inplace = True)
mode = df.loc[df.age <= 70, 'age'].median()
print(mode)
df.loc[df.age > 70, 'age'] = np.nan
df['age'].fillna(38, inplace=True)

#for feature engineering
# median = df['age'].describe()Q1 = boston_df_o1.quantile(0.25)

# print(median)
# df['age'] > 100 
# df = df['age'] > 100 .fillna(method='ffill')

38.0

In [23]:

df['dc_cons_avg']=(df["dc_cons_jun"]+df["dc_cons_apr"]+df["dc_cons_may"])/3
test_data['dc_cons_avg']=(test_data["dc_cons_jun"]+test_data["dc_cons_apr"]+test_data["dc_cons_may"])/3
df['cc_cons_avg']=(df["cc_cons_jun"]+df["cc_cons_apr"]+df["cc_cons_may"])/3
test_data['cc_cons_avg']=(test_data["cc_cons_jun"]+test_data["cc_cons_apr"]+test_data["cc_cons_may"])/3
df['investment']=df['investment_1']+df["investment_2"]+df["investment_3"]+df["investment_4"]
df["credit_count_total"]=df["credit_count_apr"]+df["credit_count_may"]+df["credit_count_jun"]
df['debit_count_total']=df["debit_count_apr"]+df["debit_count_may"]+df["debit_count_jun"]
df["debit_amount_total"]=df["debit_amount_apr"]+df["debit_amount_may"]+df["debit_amount_jun"]
test_data["debit_amount_total"]=test_data["debit_amount_apr"]+test_data["debit_amount_may"]+test_data["debit_amount_jun"]
df["credit_amount_total"]=df["credit_amount_apr"]+df["credit_amount_may"]+df["credit_amount_jun"]
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import VotingClassifier 
from sklearn.metrics import accuracy_score
from sklearn import linear_model
from sklearn.metrics import confusion_matrix
from sklearn import datasets
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score

In [24]:
df = df[df.card_lim > 0]
df=pd.get_dummies(data=df,columns=["account_type","gender"])
test_data=pd.get_dummies(data=test_data,columns=["account_type","gender"])
df.columns

Index(['ID', 'age', 'region_code', 'cc_cons_apr', 'dc_cons_apr', 'cc_cons_may',
       'dc_cons_may', 'cc_cons_jun', 'dc_cons_jun', 'cc_count_apr',
       'cc_count_may', 'cc_count_jun', 'dc_count_apr', 'dc_count_may',
       'dc_count_jun', 'card_lim', 'investment_1', 'investment_2',
       'investment_3', 'investment_4', 'debit_amount_apr', 'credit_amount_apr',
       'debit_count_apr', 'credit_count_apr', 'max_credit_amount_apr',
       'debit_amount_may', 'credit_amount_may', 'credit_count_may',
       'debit_count_may', 'max_credit_amount_may', 'debit_amount_jun',
       'credit_amount_jun', 'credit_count_jun', 'debit_count_jun',
       'max_credit_amount_jun', 'emi_active', 'cc_cons', 'credit spent amount',
       'Debit spent amount', 'Credit Transaction Count',
       'Debit Transaction Count', 'dc_cons_avg', 'cc_cons_avg', 'investment',
       'credit_count_total', 'debit_count_total', 'debit_amount_total',
       'credit_amount_total', 'account_type_current', 'account_type_saving',
       'gender_F', 'gender_M'],
      dtype='object')

In [25]:
def rmsle(y_test, y_pred):
    
    sum=0.0
    
    for x,y in zip(y_test, y_pred):
        
        if x < 0 or y < 0: #check for negative values. 
            continue
        
        p = np.log(y+1)
        r = np.log(x+1)
        sum += (p - r)**2
    
    return (sum / len(y_pred)) ** 0.5

In [26]:
X = df[['age','account_type_current','account_type_saving','card_lim','credit_amount_apr','credit_amount_may','credit_amount_jun','gender_F', 'gender_M','cc_cons_avg','investment_1','investment_2', 'investment_3', 'investment_4','dc_cons_avg','debit_amount_total', 'max_credit_amount_apr', 'max_credit_amount_may', 'max_credit_amount_jun', 'emi_active']]
test_x=test_data[['age','account_type_current','account_type_saving','card_lim','credit_amount_apr','credit_amount_may','credit_amount_jun','gender_F', 'gender_M','cc_cons_avg','investment_1','investment_2', 'investment_3', 'investment_4','dc_cons_avg','debit_amount_total', 'max_credit_amount_apr', 'max_credit_amount_may', 'max_credit_amount_jun', 'emi_active']]
y = df.cc_cons

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10,train_size=0.3)
linreg = LinearRegression()
linreg.fit(X_train, y_train)

y_pred = linreg.predict(X_test)
score  = rmsle(y_test, y_pred)
s1=linreg.score(X, y)
print(s1)
#print(s8)
#print(classification_report(y_test, y_pred))
print("RSMLE Score: ", score)
print(X.columns)

# #print(X['card_lim'].isnull().unique())
# #text_x.shape()
# cv = GridSearchCV(linreg,param_grid, cv = 5) 
# print("Best score is {}".(cv.best_score_))

-0.0018531959291268052
RSMLE Score:  2.055515050239146
Index(['age', 'account_type_current', 'account_type_saving', 'card_lim',
       'credit_amount_apr', 'credit_amount_may', 'credit_amount_jun',
       'gender_F', 'gender_M', 'cc_cons_avg', 'investment_1', 'investment_2',
       'investment_3', 'investment_4', 'dc_cons_avg', 'debit_amount_total',
       'max_credit_amount_apr', 'max_credit_amount_may',
       'max_credit_amount_jun', 'emi_active'],
      dtype='object')

In [27]:

clf1 = LogisticRegression(random_state=10)
clf1.fit(X_train, y_train)
clf1.predict(X_test)
y_pred_1=clf1.predict(X_test)
#print(classification_report(y_test, y_pred_1))
score1  = rmsle(y_test, y_pred_1)
print("RSMLE Score: ", score1)

C:\Users\heera\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\heera\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\heera\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

RSMLE Score:  2.189161102989487

In [28]:
clf2 = RandomForestClassifier(random_state=10)
clf2.fit(X_train, y_train)
clf2.predict(X_test)
y_pred_2=clf2.predict(X_test)
#print(classification_report(y_test, y_pred_2))
score2  = rmsle(y_test, y_pred_2)
print("RSMLE Score: ", score2)

C:\Users\heera\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RSMLE Score:  2.8713180677675383

In [ ]:
clf3 = LinearSVC(random_state=10)
clf3.fit(X_train, y_train)
clf3.predict(X_test)
y_pred_3=clf3.predict(X_test)
#print(classification_report(y_test, y_pred_3))
s2=clf3.score(X_test,y_test)
print(s2)
score3  = rmsle(y_test, y_pred_3)
print("RSMLE Score: ", score3)

In [ ]:
clf4 =DecisionTreeClassifier(random_state=10)
clf4.fit(X_train,y_train)
y_pred_4=clf4.predict(X_test)
#print(classification_report(y_test, y_pred_4))
score4  = rmsle(y_test, y_pred_4)
print("RSMLE Score: ", score4)


clf5 = Ridge(alpha=1.0)
clf5.fit(X_train,y_train)
y_pred_5=clf5.predict(X_test)
score5  = rmsle(y_test, y_pred_5)
print("RSMLE Score: ", score5)

In [ ]:
clf6 = AdaBoostClassifier(random_state=10)
clf6.fit(X_train, y_train)
clf6.predict(X_test)
y_pred_6=clf6.predict(X_test)
print(classification_report(y_test, y_pred_6))
score6  = rmsle(y_test, y_pred_6)
print("RSMLE Score: ", score6)
s3=clf6.score(X_test,y_test_6)
print(s3)

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.datasets import make_regression
clf7 = AdaBoostRegressor(random_state=10)
clf7.fit(X_train, y_train)
clf7.predict(X_test)
y_pred_7=clf7.predict(X_test)
#print(classification_report(y_test, y_pred_6))
score7  = rmsle(y_test, y_pred_7)
print("RSMLE Score: ", score7)